*{
    margin: 0%;
    padding: 0%;
}
.cabeçalho{
    background-color: #703D99;
    display: flex;
    justify-content:space-around ;
    padding: 15px 0;
    color: #CEBBE6;
}
body{
    background-color: #CEBBE6;
}
.pilula {
    width: 65%;
}
.titulo {
    margin: 20px;
    font-size: 70px;
}